*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
    --primary-text-color:rgb(11, 25, 45);
    --secondary-text-color:rgb(128, 247, 255);
    --accent-color:rgb(87, 148, 144);
    --accent-color-dark:rgb(37, 108, 120);    
}
body{
    color:var(
        --primary-text-color
    );
    font-weight: 600;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1100px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #000000;
    box-shadow: 0 0 0 4px #bbd0e2;
    position: fixed;
    top:0;
    z-index: 99;
    left:0;
    right: 0;
}
.main_nav{
    justify-content: space-between;
    padding-block: 8px;
}
.logo{
    width:150px;
    height: 100px;
}
.nav_links ul{
    gap: 30px;
}
.hover_link{
    cursor:pointer;
}
.hover_link:hover{
    color:var(--secondary-text-color);
}
.hover_link:active{
color: rgb(247, 5, 37);
}
.search_bar{
    height: 35px;
    gap: 10px;
}
.news_input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;

}
.search_button{
    background-color: var(--accent-color);
    color: #000000;
    padding:8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.search_button:hover{
    background-color: var(--accent-color-dark);
}
main{
    padding-block: 20px;
    margin-top: 80px;
}
.cards_container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    cursor: pointer;
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff ;
    transform:translate(-2px);
}
.card_header{
    width: 100%;
    height: 180px;
    object-fit: cover;

}
.card_content{
    padding: 12px;

}
.newsSource{
    margin-block: 12px;
}